{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ingresar Voucher</h1>

    {% form_theme form 'voucher/form-theme.html.twig' %}

    {{ form(form) }}

    <ul>
        <li>
            <a href="{{ path('voucher_index') }}">Back to the list</a>
        </li>
    </ul>

    <script type="text/javascript">
        window.onload = function() {

            $(".js-basic-single").select2({
                allowClear: false,
                width: '100%'
            });        

            $('.discount-collection').collection({
                allow_duplicate: true,
                allow_up: false,
                allow_down: false,
                add: '<a href="#" class="btn btn-default" title="Add element"><span class="glyphicon glyphicon-plus-sign"></span></a>',

                // here is the magic!
                elements_selector: 'tr.item',
                elements_parent_selector: '%id% tbody'
            });

        };
        
        var $collectionHolder;

        // setup an "add a item" link
        var $addItemLink = $('<a href="#" class="add_item_link">Add a item</a>');
        var $newLinkLi = $('<li></li>').append($addItemLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of items
            $collectionHolder = $('ul.items');

            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('li').each(function() {
                addTagFormDeleteLink($(this));
            });

            // add the "add a item" anchor and li to the items ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addItemLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new item form (see next code block)
                addItemForm($collectionHolder, $newLinkLi);
            });
        });

        function addItemForm($collectionHolder, $newLinkLi) 
        {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your items field in VoucherType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a item" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);

            // add a delete link to the new form
            addTagFormDeleteLink($newFormLi);
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#">delete this tag</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }
    </script>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
    <script src="{{ asset('js/jquery.collection.js') }}"></script>
        
{% endblock %}
